// Mixins in here

.borders() {
  border-bottom: 2px dashed @silver; 
  
}

.buttons(@width, @font-size, @color, @border-radius) {
  width: @width;
  font-size: @font-size;
  color: @color;
  border-radius: @border-radius; 
}